@model CRMLeads.Models.CrmSales

@{
    ViewData["Title"] = "Details";
}

<h1>CRM Sale Details</h1>

<div class="container mt-5">
    <h4>CrmSales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedAt)
        </dd>
    </dl>
</div>
<div>
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
